html, body {
            font:normal 12px verdana;
            
            margin:0;
            padding:0;
            border:0 none;
            overflow:hidden;
            height:100%;
        }
        .message-box {
            padding:5px;
            margin:10px 0px 15px 0px;
            background: #008000;
            color:white;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
        }
        .error-box {
            padding:5px;
            margin:0px 0px 15px 0px;
            background: #9E0000;
            color:white;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
        }
        .footer {
            position:absolute;
            bottom:0px;
            right:10px;
            padding:4px 0px;
            text-align:right;
            color:white;
            font-size:10px;
        }