<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
<rewrite>
    <rules>
        <rule name="Main Rule" enabled="false" stopProcessing="true">
            <match url=".*" />	
            <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.pl/{R:0}" logRewrittenUrl="true" />
        </rule>
                <rule name="RedirectUserFriendlyURL1" enabled="false" stopProcessing="true">
                    <match url="^index\.pl/test$" />
                    <conditions>
                        <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true" />
                    </conditions>
                    <action type="Redirect" url="index" appendQueryString="false" />
                </rule>
                <rule name="RewriteUserFriendlyURL1" enabled="false" stopProcessing="true">
                    <match url="^index$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.pl/test" />
                </rule>
    </rules>
            <outboundRules>
                <rule name="OutboundRewriteUserFriendlyURL1" preCondition="ResponseIsHtml1">
                    <match filterByTags="A, Form, Img" pattern="^(.*)index\.pl/test$" />
                    <action type="Rewrite" value="{R:1}/ index" />
                </rule>
                <preConditions>
                    <preCondition name="ResponseIsHtml1">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
                    </preCondition>
                </preConditions>
            </outboundRules>
</rewrite>

    </system.webServer>
</configuration>
